.slider-container {
    position: relative;
    width: 80%;
    margin: 50px auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    overflow: hidden;
    padding: 2%;
    background-color: black;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slide {
    flex: 0 0 100%;
    text-align: center;
  }
  
  .slider img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  .review-details {
    padding: 15px;
  }
  
  .customer-name {
    font-weight: bold;
    color: #fff;
  }
  
  .review-text {
    margin-bottom: 0;
    color: #fff;
  }
  
  .slider-nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .slider-nav button {
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .slider-nav button:hover {
    background-color: #f2f2f2;
  }
  .sliderimg{
    height: 120px;
    width: 120px;
    border-radius: 150px;
    margin-bottom: 0px;
    align-items: center;
    justify-content: center;
    margin: auto;
    overflow: hidden;
  }
  