
.adminoverall{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.adminpro{
    padding: 10px;
}
.adminproduct-content{
    padding: 10px;
}
h3{
    overflow: hidden;
}
.avl{
    background-color: black;
    color: aliceblue;
}
.avl:hover{
    color: black;
    background-color: aliceblue ;
}