.adminorder{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(226, 231, 226);
}
.adminorderimg{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mindiv{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 20px;
    width: 50%;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}